/* body {
    background-color: red;
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    margin-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    background-color: #fff;
}

form div {
    margin-bottom: 15px;
}

form input {
    display: block;
    width: 350px;
    padding: 8px;
    margin-top: 10px;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    padding: 1rem;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #555;
}

nav a.active {
    color: greenyellow;
}

h3 {
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    margin-top: 25vh;
}

h4 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 0;
}

table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    height: 50px;
    width: 10px;
}

th {
    background: #007bff;
    color: white;
}

.btn {
    margin-left: 100px;
    margin-top: 20px;
    width: 150px;
    height: 40px;

}